<div class="box">
  <h2>Search for a Topic</h2>
  <div>
    To search for or delete a Topic, enter it in the search box below.
  </div>
  <form action="modify.php">
    <div>
      <div class="column"><label for="searchForTopic">Topic:</label></div>
      <div class="column"> <input type="text" name="search" value="{{ search|e('html') }}" id="searchForTopic"/> </div>
    </div>
    <div class="lastcolumn">
      <input type="submit" value="Search">
    </div>
  </form>
</div>
