<div class="box">
  <h2>Look for Dewey Call Numbers with</h2>
  <form method="post" action="deweysearch.php">
    <div class="clear">
      <div class="column"> <label for="DeweyNumber">+Number:</label> </div>
      <div class="column">
        <select name="num_op" aria-label="comparison operator">
          {% for option in options %}
            <option {% if option == num_op %} selected="selected"{% endif %}>{{ option|e('html') }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="column"> <input type="text" name="num" size="5" value="{{ num|e('html') }}" id="DeweyNumber"> </div>
      <div class="lastcolumn"> Required. (<strong>e.g., >= 800</strong>) </div>
    </div>
    <br />
    <input type="submit" value="Search" />
  </form>
</div>
