<div class="box">
 <nav aria-label="primary">
  <span class="navigation{% if browse_active %} active{% endif %}"><a href="index.php">Browse and Map</a></span>
  <span class="navigation{% if search_active %} active{% endif %}"><a href="search.php">Search</a></span>
  <span class="navigation{% if modify_active %} active{% endif %}"><a href="modify.php">Modify Topics</a></span>
  <span class="navigation{% if reports_active %} active{% endif %}"><a href="reports.php">Reports</a></span>
  <span class="navigation{% if tree_active %} active{% endif %}"><a href="tree.php">Tree</a></span>
 </nav>
</div>
