<div class="box">
  To access or create mappings for a Library Browse Topic, browse to that topic using the menu below and click the <strong>Show Associated Mappings</strong> button. <br /><br />
  <form method="post">
    Narrow Topic: <br />
    <select name="{{ name }}">
      {% for option in options %}
      <option value="{{ option.id|e('html') }}"{% if option.id == selected %}selected="true"{% endif %}>{{ option.name|e('html') }}</option>
      {% endfor %}
    </select>
    <br />
    <input type="submit" value="Show Associated Mappings" />
  </form>
</div>
